@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --light-green: #C2EFD4;
    --off-green: #6BC785;
    --dark-green: #224F34;
}


/* Common CSS */

.bg-light {
    background-color: var(--light-green);
}

.off-green {
    background-color: var(--off-green);
}

.bg-dark {
    background-color: var(--dark-green);

}

.container {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

/* Header start here */
.master-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    /* box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.4); */
}

.navbar .navbar-logo a {
    text-decoration: none;
    font-size: 4rem;
    font-weight: 600;
    color: #224F34;
}

.navbar-menu .navbar-item {
    display: inline-block;
    padding-right: 2.5rem;
}

.navbar-menu .navbar-item a {
    text-decoration: none;
    font-size: 2.2rem;
    position: relative;
    color: #224F34;

}

.navbar-menu .navbar-item a:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 97%;
    width: 0;
    height: 0.3rem;
    background-color: #fff;
    transition: all 0.5s linear;
}

.navbar-menu .navbar-item a:hover::before {
    width: 100%;
    background-color: #224F34;
}

.ri-handbag-line {
    color: #224F34;
    font-size: 2.5rem;
    margin-right: 3rem;
}

.login-btn {
    padding: 1rem 2.5rem;
    font-size: 2rem;
    border: 1px solid #224F34;
    background: transparent;

}

.login-btn a {
    text-decoration: none;
    color: #224F34;
}

/* burgur button */
.navbar-toggler {
    padding: 0.6rem 1.5rem;
    display: none;
    background: none;
    border: none;
    font-size: 2.8rem;
    cursor: pointer;
}

/* navbar end here */

/* Main Banner */

.main-banner {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.main-banner .banner-left {
    font-size: 8.6rem;
    font-weight: 700;
    line-height: 10.6rem;
    color: #224F34;

}

.main-banner .banner-left p {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3rem;
}

.main-banner .banner-left .banner-left-btn {
    padding: 1.2rem 3.5rem;
    background-color: #224F34;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 1.7rem;
    margin-top: 1rem;
    transition: all 0.5s linear;
    box-shadow: 0.4rem 0.7rem 0.8rem rgba(0, 0, 0, 0.4);
}

.main-banner .banner-left .box1_btn:hover {
    background: transparent;
    border: 0.1 solid #224F34;
    border-radius: 0.3rem;
    color: #224F34;
}

.main-banner .banner-right {
    width: 40rem;
    height: 50rem;
    border-top-left-radius: 12rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 12rem;
    border-bottom-left-radius: 3rem;
    background-color: #6BC785;
}

.banner-right img {
    max-height: 50rem;
    overflow: hidden;
}

.section2-best-selling {
    text-align: center;
    max-width: 100%;
    padding-top: 7rem;
}

.section2-best-selling-h2 {
    color: #224F34;
    font-size: 6.4rem;
    font-weight: 500;
}

.section2-best-selling-p {
    color: #224F34;
    font-size: 2.2rem;
    font-weight: 500;
    padding: 5rem 0rem;
}

.best-selling-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6.2rem;
    text-align: center;
}

.card {
    max-width: 43rem;
    max-height: 80rem;
    border-radius: 0.3rem;
}

.card1_img {
    width: 43rem;
    height: 53.4rem;
    object-fit: cover;
}

.card-body .card-title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #373737;
    padding: 1.5rem 0rem;
    background-color: #fff;
}

.card-body .card-text {
    color: #454545;
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #fff;
}

.fa-star {
    color: yellow;
}

.bg-card1 {
    background: #93B9A2;
}

.bg-card2 {
    background: #A9D4BA;
}

.bg-card3 {
    background: #CADCD0;
}

.card_button {
    margin-top: 5rem;
    font-size: 2.2rem;
    font-weight: 500;
    color: #224F34;
    padding: 1rem 4rem;
    background: transparent;
    border: 0.1rem solid #224f34;
}

.home-our-products {
    text-align: center;
    max-width: 100%;
    padding-top: 100px;
}

.home-our-products-h2 {
    font-size: 5rem;
    font-weight: 500;
    color: #224F34;
}

.our-products-nav-tab .nav-item {
    display: inline-block;
    padding: 3.5rem;
}

.our-products-nav-tab .nav-item.active {
    text-decoration: underline;
}

.our-products-nav-tab .nav-item a {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 500;
    color: #454545;
}

.our-products-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4.9rem;
}

.card-body {
    text-align: center;
    padding: 20px;
}

/* 
.card2-card1,
.card2-card2,
.card2-card3,
.card2-card4 {
    max-width: 31.8rem;
    max-height: 37.8rem;
} */

.card2-img {
    width: 31.8rem;
    height: 37.8rem
}

.bg-gray {
    background: #EAEBF0;
}

.bg-light-gray {
    background-color: #DDECE2;
}

.home-page-section-4 {
    max-width: 100%;
    margin: 12rem 0rem;
    background-color: #C2EFD4;
}

.home-page-offer {
    display: flex;
    margin: auto;
    /* flex-wrap: wrap; */
    /* max-width: 145.1rem; */
    max-height: 59.6rem;
    /* border-radius: 0.3rem; */
    justify-content: center;
    gap: 10rem;
}

.home-page-offer-right {
    max-width: 48.2rem;
    max-height: 60rem;
}

.offer-h2 {
    color: #224F34;
    font-size: 4.6rem;
    font-weight: 700;
}

.home-page-offer-left {
    padding-top: 13rem;
}

.row-box2-p {
    color: #224F34;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 2rem 0rem;
    line-height: 3.5rem;
}

.datetime-container {
    display: flex;
    gap: 2rem;
    /* text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.row-box2-btn {
    background-color: #224F34;
    padding: 1.2rem 3.5rem;
    font-size: 2rem;
    border: none;
    margin-top: 3.5rem;
    border-radius: 0.3rem;
}

.row-box2-btn a {
    text-decoration: none;
    color: white;
}

#date,
#hours,
#minutes {
    color: #224F34;
    font-weight: 600;
    cursor: pointer;
}

.days,
.hours,
.minutes {
    background-color: white;
    padding: 3rem;
    /* color: #224F34; */
}

.home-page-design {
    max-width: 100%;
    text-align: center;
    margin: 12rem 0rem;
}

.home-page-design-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6.2rem;
}

.page-design-h2 {
    font-size: 5rem;
    font-weight: 500;
    color: #224F34;
}

.page-design-p {
    color: #224F34;
    font-size: 2.2rem;
    font-weight: 500;
    padding: 5rem 0rem;
}

.card4_img {
    background-color: #D3E2D7;
    width: 43rem;
    height: 53.4rem;
}

.card4-h5 {
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 600;
    color: #373737;
}

.card4-p2 {
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.1rem;
    text-align: center;
    color: #373737;
}

footer {
    padding: 10rem 0rem;
}

.footer {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24.8rem;

}

.footer-button {
    display: flex;
    flex-wrap: wrap;
    padding: 8rem 0rem 0rem 0rem;
    justify-content: center;
}

.footer-box1 h3 {
    color: white;
    font-family: Elephant;
    font-size: 5rem;
    font-weight: 400;
}

.footer_h3 {
    font-family: Roboto Slab;
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
}

.footer-box1 p {
    font-family: Roboto Slab;
    font-size: 2.2rem;
    font-weight: 500;
    color: white;
    padding: 1.5rem 0rem;
}

.fa-twitter {
    padding: 0rem 3.5rem;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    font-size: 2.5rem;
    color: #C2EFD4;
}

.footer ul li {
    list-style-type: none;

}

.footer ul li a {
    text-decoration: none;
    color: #C2EFD4;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3.5rem;
    font-family: poppins;
}

.hr {
    width: 60%;
    margin-top: 1.2rem;
    height: 0.1rem;
    border: 0.1rem solid #A3F3BE
}

.term a {
    padding: 0rem 2rem;
    font-family: Poppins;
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.footer-box4 input {
    padding: 0.8rem 6.5rem 0.8rem 2rem;
    margin-top: 2rem;
    background: transparent;
    border: 0.2rem solid #A3F3BE;
    border-right: none;
}

.footer-box4 ::placeholder {
    color: white;
}

.footer-btn {
    padding: 0.8rem 1.8rem;
    border: 0.2rem solid #A3F3BE;
    background: #A3F3BE;
}

.home-page-carousel {
    margin: auto;
    flex-wrap: wrap;
    /* max-width: 145.1rem; */
    padding-bottom: 14rem;

}

.home-page-carousel h3 {
    text-align: center;
    font-family: Roboto Slab;
    font-size: 5rem;
    font-weight: 500;
    color: #224F34;
    margin-bottom: 8rem;
}

.item-h4 {
    font-family: Roboto Serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #224F34;
    margin-top: 1rem;
    /* }

.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300; */
}

.fa-quote-left {
    color: #224F34;
}

.item-p {
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #6F6F6F;
    margin: 2rem 0rem;
}

.item {
    background-color: #C2EFD4;
    height: 25rem;
    padding: 3rem;
}



/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 1.2rem 2rem;
    margin: 0.8rem 0;
    display: inline-block;
    border: 0.1rem solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.submit_btn {
    background-color: #04AA6D;
    color: white;
    padding: 1.4rem 2rem;
    margin: 0.8rem 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.submit_btn:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 1rem 1.8rem;
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 2.4rem 0 1.2rem 0;
    position: relative;
}

.avatar {
    width: 20%;
    border-radius: 50%;
}

.form_container {
    padding: 1.6rem;
}

.psw {
    float: right;
    padding-top: 1.6rem;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 6rem;
}

.form_container {
    background-color: #f1f1f1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* Modal Content/Box */
.modal-content {
    background-color: #6a59d4;
    margin: 5% auto 15% auto;
    border: 0.1rem solid #888;
    width: 50%;
    border-radius: 1rem;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 2.5rem;
    top: 0;
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}
